<style>

@media screen and (max-width: 684px) {
#themeee{
display:none;
} 
}

</style>

<header class="header">
    <span class="header__inner">
        {{ partial "logo.html" . }}

        <span class="header__right">
            {{ if len .Site.Menus }}
                {{ partial "menu.html" . }}
                <span class="menu-trigger">

                    {{ partial "hamburger.html" . }}
                    
                </span>
            {{ end }}
            
        </span>
    </span>
</header>