<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="ie=edge">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta name="author" content="Mahasemesta">
<meta name="description" content="{{ if .IsHome }}Hypnotherapy{{ else }}{{ if .Params.Description }}{{ .Params.Description }}{{ else }}{{ .Summary | plainify }}{{ end }}{{ end }}" />
<meta name="robots" content="index, follow" />
<meta name="theme-color" content="{{ .Site.Params.themeColor }}" />
<link rel="canonical" href="{{ .Permalink }}" />

{{ block "title" . }}
    <title>
        {{ if .IsHome }}
            {{ $.Site.Title }}
        {{ else }}
            {{ .Title }} at {{ $.Site.Title }}
        {{ end }}
    </title>
{{ end }}

<!-- CSS -->

{{ $options := (dict "targetPath" "main.css" "outputStyle" "compressed" "enableSourceMap" true) }}
{{ $style := resources.Get "scss/main.scss" | resources.ToCSS $options | resources.Fingerprint }}
<link rel="stylesheet" href="{{ $style.RelPermalink }}">

<!-- Favicons -->
{{- partial "favicons.html" . }}

{{ range .Params.categories }}
    <meta property="article:section" content="{{ . }}" />
{{ end }}

{{ if isset .Params "date" }}
    <meta property="article:published_time" content="{{ time .Date }}" />
{{ end }}

<!-- JSON Feed -->
{{ if .OutputFormats.Get "json" }}
<link href="{{ if .OutputFormats.Get "json" }}{{ .Site.BaseURL }}feed.json{{ end }}" rel="alternate"
    type="application/json" title="{{ .Site.Title }}" />
{{ end }}

<!-- lottie player -->
<script src="https://unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js"></script>

<!-- font awesome -->
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.2/css/all.css">