<!-- list file js (update each added new file) -->
{{ $contact := resources.Get "js/contact.js" }}
{{ $fa := resources.Get "js/fa.js" }}
{{ $jquery := resources.Get "js/jquery.js" }}
{{ $logo := resources.Get "js/logo.js" }}
{{ $lottie := resources.Get "js/lottie.js" }}
{{ $menu := resources.Get "js/menu.js" }}
{{ $prism := resources.Get "js/prism.js" }}
{{ $theme := resources.Get "js/theme.js" }}

<!-- bundle minify fingerprint-->
{{ $secureJS := slice $contact $fa $jquery $logo $lottie $menu $prism $theme | resources.Concat "bundle.js" | resources.Minify | resources.Fingerprint "sha512" }}

<!-- snipet js-->
<script type="text/javascript" src="{{ $secureJS.RelPermalink }}" integrity="{{ $secureJS.Data.Integrity }}"></script>

{{- if .Site.GoogleAnalytics }}
    {{ template "_internal/google_analytics.html" . }}
{{- end}}