<!-- list file js (update each added new file) -->
{{ $fuse := resources.Get "js/fuse.min.js" }}
{{ $mark := resources.Get "js/mark.min.js" }}
{{ $contact := resources.Get "js/contact.js" }}
{{ $fa := resources.Get "js/fa.js" }}
{{ $jquery := resources.Get "js/jquery.js" }}
{{ $lottie := resources.Get "js/lottie.js" }}
{{ $menu := resources.Get "js/menu.js" }}
{{ $prism := resources.Get "js/prism.js" }}
{{ $theme := resources.Get "js/theme.js" }}

<!-- bundle minify fingerprint-->
{{ $secureJS := slice $fuse $mark $contact $fa $jquery $lottie $menu $prism $theme | resources.Concat "bundle.js" | resources.Minify | resources.Fingerprint "sha512" }}

<!-- snipet js-->
<script type="text/javascript" src="{{ $secureJS.RelPermalink }}" integrity="{{ $secureJS.Data.Integrity }}"></script>

{{- if .Site.GoogleAnalytics }}
    {{ template "_internal/google_analytics.html" . }}
{{- end}}