        {{ $paginator := .Paginate .Data.Pages }}

        {{ range $paginator.Pages.GroupByDate "2006" }}
            <div class="posts-group">
                <div class="post-year" style="text-align: center;">{{ .Key }}</div>

                <ul class="posts-list">
                    {{ range .Pages }}
                        <li class="post-item">
                            <a href="{{.Permalink}}" style="padding-bottom: 0px;display: flex;">
                                <span class="post-title">{{.Title}}</span>
                                <span class="post-day">
                                    {{ .Date.Format "2 Jan"}}
                                </span>
                            </a>
                           
                            <img src="{{ .Params.Cover | absURL }}" style="border-radius: 5px;"/>

                            {{ with .Summary | plainify | safeHTML }}
                            <div class="post-info" style="text-align: justify; margin-top:5px;">{{ . }}</div>
                            {{ end }}

                        </li>
                    {{ end }}
                </ul>
            </div>
        {{ end }}