        {{ $paginator := .Paginate .Data.Pages }}

        {{ range $paginator.Pages.GroupByDate "2006" }}
            <div class="posts-group">
                <div class="post-year" style="text-align: center;">{{ .Key }}</div>

                <ul class="posts-list">
                    {{ range .Pages }}
                        <li class="post-item">
                            <a href="{{.Permalink}}" style="padding-bottom: 0px;display: flex;">
                                <span class="post-title">{{.Title}}</span>
                                <span class="post-day">
                                    {{ .Date.Format "2 Jan"}}
                                </span>
                            </a>
                            {{ with .Summary | plainify | safeHTML }}
                            <span class="post-info" style="text-align: justify;">{{ . }}</span>
                            {{ end }}
                            <span><a href="{{ .Permalink }}" class="post-info" style="display:inline; opacity:1;">Read More…</a></span>

                            <div style="margin-top:5px">
                            {{ with .Params.categories }}
                            <span>
                            {{ range . -}}
                            <span><a href="{{ "categories/" | relLangURL }}{{ . | urlize }}" class="post-info" style="margin:0; opacity:0.9;display: inline;"># {{.}}</a></span>
                            {{ end }}
                            </span>
                            {{ end }}    
                            
                            <Span class="post-info" style="display: inline; opacity: 0.9;">
                            &nbsp; <i class="far fa-clock" style="opacity: 0.5;"></i> {{.Page.ReadingTime }} minutes
                            </Span>

                            <Span class="post-info" style="display: inline; opacity: 0.9;">
                            &nbsp; <i class="far fa-bookmark" style="opacity: 0.5;"></i> {{.Page.WordCount}} words
                            </Span>

                            </div>

                        </li>
                    {{ end }}
                </ul>
            </div>
        {{ end }}