<style>

@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@700&display=swap');

.logo {
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 1.2rem;
    text-transform: uppercase;
}

</style>

<a href="{{ if .Site.Params.Logo.LogoHomeLink }}{{ .Site.Params.Logo.LogoHomeLink }}{{else}}{{ .Site.BaseURL | relLangURL }}{{ end }}" style="text-decoration: none;">
    <div class="logo">
        
        <span class="logo__cursor"></span>
        
        <span class="logo">{{ .Site.Title }}</span>
        
    </div>
</a>