{{ $paginator := .Paginator }}

{{ if gt $paginator.TotalPages 1 }}
  
<div class="pagination">
    <div class="pagination__buttons">
        
        {{ if $paginator.HasPrev }}
        <span class="button previous">
            <a href="{{ .Paginator.Prev.URL }}">
                <span>←</span>
            </a>
        </span>
        {{ end }}
        
        
            <span class="button previous" style="cursor: context-menu;">
                <a>
                    <span>{{.Paginator.PageNumber}} of {{.Paginator.TotalPages}}</span>
                </a>
            </span>
        

        {{ if .Paginator.HasNext }}
            <span class="button next">
                <a href="{{ .Paginator.Next.URL }}">
                    <span>→</span>
                </a>
            </span>
        {{ end }}

    </div>
</div>

{{ end }}