@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@500&display=swap');

.logo {
  display: flex;
  align-items: center;
  text-decoration: none;
  font-family: 'Oswald', sans-serif;
  text-transform: uppercase;
  font-size: 1.3rem;
  letter-spacing: 1.5px;

  &__cursor {
    display: inline-block;
    width: 3.5px;
    height: 1.5rem;
    background: #5c5ca2;
    margin-right: 7.5px;
    border-radius: 3px;
    animation: cursor 5s infinite;
    box-shadow: 0 0 7.5px #5c5ca2,
              0 0 15px #5c5ca2,

  }

  &__cursor:hover {
    animation: cursor 1s infinite;
  
  }

  
}

@keyframes cursor {
  0% { opacity: 0; }
  30% { opacity: 1; }
  50% { opacity: 1; }
  100% { opacity: 0; }
}