{{ define "main" }}

    <main class="posts" style="margin: 0px;">
 
        <div align="center">
            <lottie-player src="/lottie/meditation.json"  background="transparent"  speed="0.3"  style="width:200px;height:200px; margin: -20px;"  loop  autoplay></lottie-player>
        </div>

        <div class="content" style="text-align: center;">
            <div class="inner" style="display:inline-block; margin-bottom:30px;">
                <h2 style="text-align: center; margin-bottom: 0px; margin-top: 0; display: block;">
                    
                    {{ .Title }}</h2>

                <a href="/kategori">
                <span class="post-info">List Kategori</span>
                </a>

                <br>

                <button id="tombol" onclick="location.href='/pencarian';" style="margin-top: 10px; display:initial">
                    <i class="fas fa-search" style="color:currentColor"></i>
                    &nbsp;
                    Pencarian
                </button>

            </div>

        </div>

        {{ $paginator := .Paginate .Data.Pages }}

        {{ range $paginator.Pages.GroupByDate "2006" }}
            <div class="posts-group">
                <div class="post-year">{{ .Key }}</div>

                <ul class="posts-list">
                    {{ range .Pages }}
                        <li class="post-item">
                            <a href="{{.Permalink}}">
                                <span class="post-title">{{.Title}}</span>
                                <span class="post-day">{{ .Date.Format "2 Jan"}}</span>
                            </a>

                            <a href="{{.Permalink}}">
                            <img src="{{ .Params.Cover | relURL }}" alt="{{ .Title }}" style="border-radius: 5px;" />
                            </a>
                            
                                <div align="Center" class="post-meta">

                                    {{ with .Params.kategori }}
                                    {{ range . -}}
                                    <i class="fas fa-folder-open" style="color:currentColor"></i>&nbsp;<span class="tag">{{.}}</span>&nbsp;
                                    {{ end }}
                                    {{ end }}

                                    <i class="fas fa-user-circle" style="color:currentColor"></i>&nbsp;<span class="tag">{{ if .Page.Params.author }}{{.Page.Params.author}}{{else}}Mahasemesta{{end}}</span>

                                </div>

                            <a href="{{.Permalink}}">
                            {{ with .Summary | plainify | safeHTML }}
                            <div class="post-info">{{ . }}</div>
                            {{ end }}
                            </a>

                        </li>
                    {{ end }}
                </ul>
            </div>
        {{ end }}

                    {{ partial "pagination.html" . }}
                    
    </main>
{{ end }}