<style>

}
.dud {
  color: #757575;
}

</style>

<a href="{{ if .Site.Params.Logo.LogoHomeLink }}{{ .Site.Params.Logo.LogoHomeLink }}{{else}}{{ .Site.BaseURL | relLangURL }}{{ end }}" style="text-decoration: none;">
    <div class="logo">
        {{ if .Site.Params.Logo.path }}
            <img src="{{ .Site.Params.Logo.path }}" alt="{{ .Site.Params.Logo.alt }}" />
        {{ else }}
            
        <span title="Nice icon right?">&#128511;</span> &nbsp;
            <span class="text" title="You found me, booo..."></span>
            
            <span class="logo__cursor" style=
                  "{{ with.Site.Params.Logo.logoCursorDisabled }}visibility:hidden;{{ end }}
                   {{ with.Site.Params.Logo.logoCursorColor    }}background-color:{{ . }};{{ end }}
                   {{ with.Site.Params.Logo.logoCursorAnimate  }}animation-duration:{{ . }};{{ end }}">
            </span>
        {{ end }}
    </div>
</a>

<script>

// ——————————————————————————————————————————————————
// TextScramble
// ——————————————————————————————————————————————————

class TextScramble {
constructor(el) {
this.el = el
this.chars = 'qazwsxedcrfvtgbyhnujmikolp1234567890`~!@#$%^&*()_+=-'
this.update = this.update.bind(this)
}
setText(newText) {
const oldText = this.el.innerText
const length = Math.max(oldText.length, newText.length)
const promise = new Promise((resolve) => this.resolve = resolve)
this.queue = []
for (let i = 0; i < length; i++) {
  const from = oldText[i] || ''
  const to = newText[i] || ''
  const start = Math.floor(Math.random() * 100)
  const end = start + Math.floor(Math.random() * 100)
  this.queue.push({ from, to, start, end })
}
cancelAnimationFrame(this.frameRequest)
this.frame = 0
this.update()
return promise
}
update() {
let output = ''
let complete = 0
for (let i = 0, n = this.queue.length; i < n; i++) {
  let { from, to, start, end, char } = this.queue[i]
  if (this.frame >= end) {
    complete++
    output += to
  } else if (this.frame >= start) {
    if (!char || Math.random() < 0.3) {
      char = this.randomChar()
      this.queue[i].char = char
    }
    output += `<span class="dud">${char}</span>`
  } else {
    output += from
  }
}
this.el.innerHTML = output
if (complete === this.queue.length) {
  this.resolve()
} else {
  this.frameRequest = requestAnimationFrame(this.update)
  this.frame++
}
}
randomChar() {
return this.chars[Math.floor(Math.random() * this.chars.length)]
}
}

// ——————————————————————————————————————————————————
// Example
// ——————————————————————————————————————————————————

const phrases = [
'Mahasemesta',
'',
'Hypnotherapy',
'',
'Life Regression',
'',
'Mesmerism',
'',
'Soul Healing',
'',
'Meditation',
''
]

const el = document.querySelector('.text')
const fx = new TextScramble(el)

let counter = 0
const next = () => {
fx.setText(phrases[counter]).then(() => {
setTimeout(next, 1000)
})
counter = (counter + 1) % phrases.length
}

next()

</script>