{{ $paginator := .Paginator }}

{{ if gt $paginator.TotalPages 1 }}
  
<div class="pagination">
    <div class="pagination__buttons">
        
        {{ if $paginator.HasPrev }}
        <span class="button previous">
            <a href="{{ .Paginator.Prev.URL }}">
                <span>←</span>
            </a>
        </span>
        {{ end }}
        
        {{ range $paginator.Pagers }}
            <span class="button previous">
                <a href="{{ .URL }}">
                    <span>{{ .PageNumber }}</span>
                </a>
            </span>
        {{ end }}

        {{ if .Paginator.HasNext }}
            <span class="button next">
                <a href="{{ .Paginator.Next.URL }}">
                    <span>→</span>
                </a>
            </span>
        {{ end }}

    </div>
</div>

{{ end }}