{{ $scramble := resources.Get "js/scramble.js" }}
{{ $top := resources.Get "js/top.js" }}
{{ $fuse := resources.Get "js/fuse.min.js" }}
{{ $mark := resources.Get "js/mark.min.js" }}
{{ $contact := resources.Get "js/contact.js" }}
{{ $menu := resources.Get "js/menu.js" }}
{{ $prism := resources.Get "js/prism.js" }}
{{ $theme := resources.Get "js/theme.js" }}

<!-- bundle minify fingerprint-->
{{ $secureJS := slice $scramble $top $fuse $mark $contact $menu $prism $theme | resources.Concat "bundle.js" | resources.Minify | resources.Fingerprint "sha512" }}

<!-- snipet js-->
<script type="text/javascript" src="{{ $secureJS.RelPermalink }}" integrity="{{ $secureJS.Data.Integrity }}"></script>

{{ partial "particles.html" . }}