        {{ $paginator := .Paginate .Data.Pages }}

        {{ range $paginator.Pages.GroupByDate "2006" }}
            <div class="posts-group">
                <div class="post-year">{{ .Key }}</div>

                <ul class="posts-list">
                    {{ range .Pages }}
                        <li class="post-item">
                            <a href="{{.Permalink}}">
                                <span class="post-title">{{.Title}}</span>
                                <span class="post-day">{{ .Date.Format "2 Jan"}}</span>
                            </a>

                            <a href="{{.Permalink}}">
                            {{ with .Summary | plainify | safeHTML }}
                            <div class="post-info">{{ . }}</div>
                            {{ end }}
                            </a>

                        </li>
                    {{ end }}
                </ul>
            </div>
        {{ end }}