<nav class="menu">
    <ul class="menu__inner">
        {{- $currentPage := . -}}
        {{ range .Site.Menus.main -}}
            <li><a href="{{ .URL | relURL }}">{{ .Name }}</a></li>
        {{- end }}

        <div class="popup" onclick="myFunction()"><li>Informasi</li>
            <ul class="popuptext" id="myPopup">
                <li><a target="_blank" href="https://calendar.google.com/calendar/embed?src=fikriazh%40gmail.com&ctz=Asia%2FJakarta">Jadwal</a></li>
                <li><a href="{{ "/faq" | relURL }}">FAQ</a></li>
                <li><a href="{{ "/ketentuan" | relURL }}">Ketentuan</a></li>
                <li><a href="{{ "/kebijakan-privasi" | relURL }}">Privasi</a></li>
                <li><a href="{{ "/pustaka" | relURL }}">Pustaka</a></li>
            </ul>
        </div>
       
        <span id="pemisah"> &nbsp;|</span>
        <li class="malam" id="malam"><a href="{{ "/pencarian" | relURL }}"><i class="fas fa-search" style="color:currentColor"></i></a></li>

    </ul>
</nav>

<script>
    function myFunction() {
    var popup = document.getElementById("myPopup");
    popup.classList.toggle("show");
    }
</script>
