{{ $paginator := .Paginator }}

{{ if gt $paginator.TotalPages 2 }}
<style>
    .dropbtn:hover {
    transition: 1s;
    cursor: pointer;
    background: #5c5ca2;    
    box-shadow: 0 0 5px #5c5ca2,
              0 0 25px #5c5ca2,
              0 0 50px #5c5ca2,
              0 0 100px #5c5ca2;
  }
</style>
{{end}}

{{ if gt $paginator.TotalPages 1 }}
  
<div class="pagination">
    <div class="pagination__buttons">
        
        {{ if $paginator.HasPrev }}
        <span class="button previous" id="tombol">
            <a href="{{ .Paginator.Prev.URL }}">
                <span>←</span>
            </a>
        </span>
        {{ end }}
           
            <div class="dropdown">
                <button onclick="myFunction()" class="dropbtn">{{.Paginator.PageNumber}} / {{.Paginator.TotalPages}}</button>
                {{ if gt $paginator.TotalPages 2 }}
                <div id="myDropdown" class="dropdown-content">
                    {{ $halaman := .Paginator.PageNumber }}
                    {{ range $paginator.Pagers }}
                        <a href="{{ .URL }}" {{ if eq $halaman .PageNumber }}style="display:none;"{{end}}>{{ .PageNumber }}</a>
                    {{end}}
                </div>
                {{ end }}
            </div>

        {{ if .Paginator.HasNext }}
            <span class="button next" id="tombol">
                <a href="{{ .Paginator.Next.URL }}">
                    <span>→</span>
                </a>
            </span>            
        {{ end }}

    </div>
</div>

<script>
    /* When the user clicks on the button, 
    toggle between hiding and showing the dropdown content */
    function myFunction() {
      document.getElementById("myDropdown").classList.toggle("show");
    }
    
    // Close the dropdown if the user clicks outside of it
    window.onclick = function(event) {
      if (!event.target.matches('.dropbtn')) {
        var dropdowns = document.getElementsByClassName("dropdown-content");
        var i;
        for (i = 0; i < dropdowns.length; i++) {
          var openDropdown = dropdowns[i];
          if (openDropdown.classList.contains('show')) {
            openDropdown.classList.remove('show');
          }
        }
      }
    }
</script>

{{ end }}