{{ define "main" }}

    <main class="posts" style="margin: 0px;">
 
        <div align="center">
            <lottie-player src="/lottie/meditation.json"  2ackground="transparent"  speed="0.3"  style="width:200px;height:200px; margin: -20px;"  loop  autoplay></lottie-player>
        </div>

        <div class="content" style="text-align: center;">
            <div class="inner" style="display:inline-block; margin-bottom: {{ if ne .Title "Categories"}}30{{else}}10{{end}}px;">
                <h2 style="text-align: center; margin-bottom: 0px; margin-top: 0; display: block;">{{ .Title }}</h2>

                {{ if ne .Title "Categories"}}
                <a href="/categories">
                <span class="post-info">List of Categories</span>
                </a>
                {{ else }}
                <a href="/journey">
                <span class="post-info">List of Journey</span>
                </a>
                {{end}}

                <br>

                <button onclick="location.href='/search';" style="margin-top: 10px;">
                    <i class="fas fa-search" style="color:currentColor"></i>
                    &nbsp;
                    Search Articles
                </button>

            </div>

        </div>

                    {{ if ne .Title "Categories"}}
                        {{ partial "list_journey.html" . }}
                    {{ else }}
                        {{ partial "list_categories.html" .}}
                    {{ end }}

                    {{ partial "pagination.html" . }}
                    
    </main>
{{ end }}