{{ define "main" }}

<style>

#search-query {
  height: 30px;
  border: thin solid;
  border-radius: 5px;
  text-align: center;
  opacity: 0.75;

}

#search-title {
  font-size: 1.2rem;
  
}

#search-summary {
  font-size: .8rem;
   
}

mark {
  border-radius: 3px;
  padding:2px 5px;
  color:black ;
  background-color:orange;
}

</style>

<div align="center" onclick="location.href='/search';" style="margin-bottom: -60px; cursor: grab;">
  <lottie-player src="/lottie/list.json"  background="transparent"  speed="0.3"  style="width:200px;height:200px"  loop  autoplay></lottie-player>
</div>

<div class="search" >
  <header style="margin-bottom: -10px;">
    <h1>{{ .Title }}</h1>
    {{/* partial "debugprint.html" (site.GetPage "/search") */}}
  </header>

  <form action="{{ .Permalink }}" style="margin-bottom: 30px;">
    <input id="search-query" name="q" placeholder="Type keyword here..."></input>
  </form>
  
  <div id="search-results"><strong> Search Results :</strong></div>
</div>

<template id="search-result-template">
  <div class="search_summary" style="border-bottom: 1px grey dashed; margin: 20px 5% 0 5%; max-width: 400px;">

    <span id="search-title" class="post-title no-text-decoration"><a class="search_link search_title" href=""></a></span>
    <small>
      <div align="center">
      <table style="margin-bottom: -15px;">
        <tr class="search_ifcategories"><td>#</td><td class="search_categories"></td></tr>
      </table>
      </div>
    </small>
    <p style="margin-bottom: 5px; opacity:.65;"><em id="search-summary" class="search_snippet" style="font-style: normal;"></em></p>
    
  </div>
</template>

{{ $search_js_md5 := (readFile "themes/akasha/static/search.js" | md5) }}
<script src={{ printf "%s?%s" ("/search.js" | relLangURL) $search_js_md5 }}></script>

{{ end }}