{{ define "main" }}

<div id="particles-js"></div>
<div id="particles-js2"></div>

<div class="home-container" align="Center" >

    <img class="home-logo" src="/logo.png" alt="Mahasemesta">

    <div class="glass-home">
        <h3 class="home-title">{{ .Site.Params.homeTitle }}</h3>
        <br>
        <h4 class="home-subtitle">"{{ .Site.Params.homeSubtitle }}"</h4>
    </div>

    <button class="tombol-home" id="tombol"><a href="/selamat-datang" style="text-decoration: none;">{{ .Site.Params.homeButton }}</a></button>

</div>

{{ end }}