{{ define "main" }}

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>

<style>
  #button {
display: inline-block;
background-color: #555;
width: 50px;
height: 50px;
text-align: center;
border-radius: 50%;
position: fixed;
bottom: 20px;
right: 20px;
transition: background-color .3s, 
opacity .5s, visibility .5s;
opacity: 0;
visibility: hidden;
z-index: 1000;
}
#button::after {
content: "\f077";
font-family: FontAwesome;
font-weight: normal;
font-style: normal;
font-size: 2em;
line-height: 50px;
color: #fff;
}
#button:hover {
cursor: pointer;
background-color: #5c5ca2;
box-shadow: 0 0 5px #5c5ca2,
              0 0 25px #5c5ca2,
              0 0 50px #5c5ca2,
              0 0 100px #5c5ca2;
}

#button.show {
opacity: 1;
visibility: visible;
}
</style>

    <!-- Back to top button -->
    <a id="button"></a>
    
    <main class="post">

        <article>
            
            <div style="text-align: center;">
            
              <h3 class="post-title" style="display: initial;">{{ .Title | markdownify }}</h3>

              <div class="post-info">
               {{ partial "categories.html" . }}
               at
               {{ partial "date.html" . }}
              </div>

            </div>

           <div class="post-content" style="text-align: justify; hyphens: auto;">
                {{ .Content }}
            </div>
        </article>

     <hr />

        <div class="post-info">
          
          <br />
          
          <div align="Center" style="text-align: center;">
            <span class="post-info"><a href="/journey">List of Journey</a></span>
            &nbsp;
            <span class="post-info"><a href="/categories">List of Categories</a></span>
            &nbsp;
          </div>
          

           {{ if and (not $.Site.Params.DisableReadOtherPosts) (or .NextInSection .PrevInSection) }}
            <div class="pagination">
              <div class="pagination__title" style="margin: 0px;">
                <span class="pagination__title-h">{{ .Site.Params.ReadOtherPosts }}</span>
              </div>
      
              <div class="pagination__buttons">
                {{ if .NextInSection }}
                  <span class="button previous" id="tombol">
                    <a href="{{ .NextInSection.Permalink }}">
                      <span class="button__icon">←</span>
                      <span class="button__text">{{ .NextInSection.Title }}</span>
                    </a>
                  </span>
                {{ end }}

                {{ if .PrevInSection }}
                  <span class="button next"  id="tombol">
                    <a href="{{ .PrevInSection.Permalink }}">
                      <span class="button__text">{{ .PrevInSection.Title }}</span>
                      <span class="button__icon">→</span>
                    </a>
                  </span>
                {{ end }}
              </div>
            </div>
          {{ end }}

        </div>
        
        {{ partial "comments.html" . }}
        
    </main>

<script>
  var btn = $('#button');

$(window).scroll(function() {
  if ($(window).scrollTop() > 300) {
    btn.addClass('show');
  } else {
    btn.removeClass('show');
  }
});

btn.on('click', function(e) {
  e.preventDefault();
  $('html, body').animate({scrollTop:0}, '300');
});


</script>

{{ end }}