{{ define "main" }}

<div onclick="location.href='brief';" style="cursor: grabbing;" title="Meoow, touch me to begin our journey">
<lottie-player src="/lottie/cat.json"  background="transparent"  speed="0.3"  style="width:150px;height:150px"  loop  autoplay></lottie-player>
</div>

<div align="Center">

{{.Site.Params.home1}}
<br>
{{.Site.Params.home2}}
<br>
<br>

<button style="font-size: small; cursor: default" title="Meow meow meow !">{{.Site.Params.home_button}}</button>

</div>

<script src='https://s3-us-west-2.amazonaws.com/s.cdpn.io/499416/TweenLite.min.js'></script>
<script src='https://s3-us-west-2.amazonaws.com/s.cdpn.io/499416/EasePack.min.js'></script>
<script src='https://s3-us-west-2.amazonaws.com/s.cdpn.io/499416/demo.js'></script>

{{ end }}