{{ define "main" }}
    
    <main class="post">

        <article>
            
            <div class="content" style="text-align: center;">
            <div class="inner" style="display:inline-block;">
           
            <h3 class="post-title">
            <a href="{{ .Permalink }}" >{{ .Title | markdownify }}</a></h3>

              <div class="post-info">
               {{ partial "categories.html" . }}
               at
               {{ partial "date.html" . }}
              </div>

            </div>
            </div>

            <div class="post-content" style="text-align: justify;">
                {{ .Content }}
            </div>
        </article>

        <div class="post-info">
            
           {{ if and (not $.Site.Params.DisableReadOtherPosts) (or .NextInSection .PrevInSection) }}
            <div class="pagination">
              <div class="pagination__title">
                <span class="pagination__title-h">{{ .Site.Params.ReadOtherPosts }}</span>
              </div>
      
              <div class="pagination__buttons">
                {{ if .NextInSection }}
                  <span class="button previous">
                    <a href="{{ .NextInSection.Permalink }}">
                      <span class="button__icon">←</span>
                      <span class="button__text">{{ .NextInSection.Title }}</span>
                    </a>
                  </span>
                {{ end }}
      
                {{ if .PrevInSection }}
                  <span class="button next">
                    <a href="{{ .PrevInSection.Permalink }}">
                      <span class="button__text">{{ .PrevInSection.Title }}</span>
                      <span class="button__icon">→</span>
                    </a>
                  </span>
                {{ end }}
              </div>
            </div>
          {{ end }}

        </div>

    </main>
{{ end }}
