{{ define "main" }}
    
    <main class="post">

        <article>
            
            <div style="text-align: center;">
            
              <h3 class="post-title" style="display: initial;">{{ .Title | markdownify }}</h3>

              <div class="post-info">
               {{ partial "categories.html" . }}
               at
               {{ partial "date.html" . }}
              </div>

            </div>

           <div class="post-content" style="text-align: justify; hyphens: auto;">
                {{ .Content }}
            </div>
        </article>

     <hr />

        <div class="post-info">

          <div align="Center" style="text-align: center;">
            <span class="post-info"><a href="/journey">List of Journey</a></span>
            &nbsp;
            <span class="post-info"><a href="/categories">List of Categories</a></span>
            &nbsp;
          </div>

           {{ if and (not $.Site.Params.DisableReadOtherPosts) (or .NextInSection .PrevInSection) }}
            <div class="pagination">
              <div class="pagination__title" style="margin: 0px;">
                <span class="pagination__title-h">{{ .Site.Params.ReadOtherPosts }}</span>
              </div>
      
              <div class="pagination__buttons">
                {{ if .NextInSection }}
                  <span class="button previous">
                    <a href="{{ .NextInSection.Permalink }}">
                      <span class="button__icon">←</span>
                      <span class="button__text">{{ .NextInSection.Title }}</span>
                    </a>
                  </span>
                {{ end }}

                {{ if .PrevInSection }}
                  <span class="button next">
                    <a href="{{ .PrevInSection.Permalink }}">
                      <span class="button__text">{{ .PrevInSection.Title }}</span>
                      <span class="button__icon">→</span>
                    </a>
                  </span>
                {{ end }}
              </div>
            </div>
          {{ end }}

        </div>

        {{ partial "comments.html" . }}

    </main>
{{ end }}
